<h2>Clients</h2>
<ol class="clients">
  <li *ngFor="let client of clients"
      [class.selected]="client === selectedClient"
      (click)="onSelect(client)"
      (dblclick)="onDoubleSelect(client)">
    {{client.id}}
  </li>
</ol>

<div *ngIf="selectedClient">
  <h2>
    ID {{selectedClient.id}} was selected
  </h2>
  <button (click)="gotoDetail()">View Details</button>
  <button (click)="deleteClient(selectedClient.id)">Delete Client</button>
  <button (click)="updateClient()">Update Client</button>
  <button (click)="sortClients()">Sort Clients</button>
  <label>Name: <input #name /></label><br /><button (click)="filterClients(name.value)">Filter Clients</button>
</div>
